.research {
  .researchContainer {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
      width: 100%;
      margin: 0%;
      font-size: 24px;
      font-weight: bold;

      h1{
        text-align: center;
        font-size: 50px;
      }
      h2{
        text-align: center;
        font-size: 24px;
      }
    }
    .items {
      .item {
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .header {
          font-size: 18px;
          font-weight: 700;
        }
        // .text {
        // }
      }
    }
  }
}
