.textBox {
  margin: 30px 100px;

  border-radius: 10px;
  background-color: rgba(254,255,247,255);

  .container {
    display: flex;
    align-items: center;
    border: 5px solid rgba(41,41,88,255);
    color: rgba(41,41,88,255);
  }
}
